// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 12;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;

// Use this to calculate the width based on the total width.
// Or you can set !blueprint_grid_width to a fixed value and unset !blueprint_container_size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

$blueprint-font-family: "myriad pro", helvetica, Arial, sans-serif;
$blueprint-font-size: 14px;
$blueprint-table-stripe-color: whiteSmoke;



@mixin shaded-button($base_color, $hover_color, $border_radius: 5px, $border_width: 1px) {
	text-align: center;
	padding: .4em .9em;
	$dark_base: darken($base_color, 10);
	
	background: $base_color;
	@include linear-gradient(color-stops($base_color, lighten($base_color, 13)), bottom);
	
	&:hover, &:focus {
		background: $hover_color;
		@include linear-gradient(color-stops($hover_color, lighten($hover_color, 20)), bottom);
	}
	&:active {
		background: $dark_base;
		@include linear-gradient(color-stops($dark_base, lighten($dark_base, 15)), top);
		
	}
}

@mixin shaded-button-size($base_color, $hover_color, $border_radius: 5px, $border_width: 1px){
	$dark_base: darken($base_color, 10);
	$shadow_depth: $border_width;
	$shadow_blur: $border_width;
	
	border: $border_width solid $dark_base !important;
	border-top: $border_width solid lighten($base_color, 20) !important;
	@include border-radius($border_radius);
	@include text-shadow(darken($base_color, 20), $shadow_depth, $shadow_depth, $shadow_blur);
	&:hover, &:focus, &:active {
		@include text-shadow(darken($hover_color, 40), $shadow_depth, $shadow_depth, $shadow_blur);
	};
	
	&:hover, &:focus {
		border: $border_width solid darken($hover_color, 20) !important;
		border-top: $border_width solid lighten($hover_color, 40) !important;
	}
	&:active {
		border: $border_width solid darken($dark_base, 20) !important;
		border-bottom: $border_width solid lighten($dark_base, 30) !important;
	}
}