- heat.races.each_with_index do |race, idx|
  .race-table{class: cycle("mid", "mid", "last")}
    .well.span3.offset1
      %table{class: race_class(race)}
        %thead
          %tr
            %th{colspan: 2, class: "centered"}= "#{race_title(race)}"
          %tr
            %th.lane Lane
            %th.scout Scout
        %tbody
          - race.lane_assignments.order("lane ASC").each do |lane_asgn|
            %tr
              %td.lane #{lane_asgn.lane}
              %td.scout #{lane_asgn.scout.full_name}
