// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset"

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base"

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint"

// Combine the partials into a single screen stylesheet.
@import "partials/page"
// @import "partials/form"
// @import "partials/two_col"

@import "compass/css3"
@import "compass/utilities/lists"

$background_blue: #0F508D

body.bp
	background: #ddd
	color: #333
	a
		border-bottom: 1px dotted #009
		text-decoration: none
		&.button
			border-bottom: 0
		img
			vertical-align: middle
	table
		margin-bottom: 12px
		tbody
			margin-bottom: 12px
	tr.even td
		background: none
	.box
		float: left
		margin: 0px 20px 20px 0px
		padding: 0
		.header
			ul
				a
					background: #777
					+linear-gradient(color-stops(#666, #777), top)
					color: white
				a.active, a:hover, a:focus, a:active
					background: white
					color: #444
					+linear-gradient(color-stops(#ddd, white), top)
			// .button
			// margin-left: 15px

	ul, ol
		padding-left: 1.2em
	.flash
		+border-radius(5px)
		margin: 0px 0px 15px
		padding: 8px 10px 0px
		p
			margin: 0px 0px 4px
			padding-left: 45px
			height: 36px
		ul
			padding-top: 0px
			li
				font-size: .9em
				margin-left: 45px
	.green
		color: #008000
	.red
		color: red
	.centered
		text-align: center
	.small
		font-size: .8em
	.smaller
		font-size: .6em
	.big
		font-size: 1.2em
	.bigger
		font-size: 1.4em
	.strong
		font-weight: bold
	.description
		font-style: italic
		font-size: .8em
		color: #888	
		
		
a.button, input.button
	$med_blue: #0567ad
	$dark_grey: #2a2a2a
	font-weight: bold
	color: white !important
	font-size: 16px
	+shaded-button($med_blue, $dark_grey)
	+shaded-button-size($med_blue, $dark_grey)
	&.small
		font-size: 14px
		font-weight: normal
		+shaded-button-size($med_blue, $dark_grey, 5px, 1px)
	&.medium
		font-size: 22px
		+shaded-button-size($med_blue, $dark_grey)
	&.big
		font-size: 42px
		+shaded-button-size($med_blue, $dark_grey, 16px, 3px)
	&.nav
		font-size: 24px
		+shaded-button-size($med_blue, $dark_grey, 10px, 2px)
	&.dark
		+shaded-button(#2a2a2a, #00487a)
	&.red
		+shaded-button(#800000, #00487a)
	&.green
		+shaded-button(#2F8D2E, #00487a)
	
				
.box-50
	width: 470px
.box-100
	width: 960px


#header
	height: 101px
	background-color: $background_blue
	+linear-gradient(color-stops(lighten($background_blue, 15), #{$background_blue} 70%, #{$background_blue}), top)
	border-bottom: 1px solid #2A9FEC
	.inner-container
		padding: 20px 0px 16px
		
			
	#userbox
		+linear-gradient(color-stops(#{$background_blue}, lighten($background_blue, 2), #{$background_blue}), top)
		+border-top-left-radius(6px)
		+border-top-right-radius(6px)
		+box-shadow(lighten($background_blue, 20), 0px, -1px, 1px, 0, false)
		float: right
		height: 65px
		width: 225px
		color: white
		font-size: 1.1em
		#user-image
			width: 65px
			height: 65px
			float: left
			background: url("/images/consulting.png") no-repeat center center
		.inner
			padding: 11px 12px 0px 68px
			a
				color: white
				border-bottom: 1px dotted #999
			ul
				+horizontal-list
				
				
h1#logo
	font-size: 3.5em
	font-weight: bold
	font-style: italic
	float: left
	height: 28px
	a
		color: white
		+text-shadow(#111, 2px, 2px, 5px)
		-webkit-text-stroke: 1px #777
		border-bottom: 0

		
		
#nav
	background-color: white
	border-bottom: 1px solid #999
	border-top: 1px solid #004483
	+box-shadow(#777, 0px, 1px, 5px, 0, false)
	.inner-container
		padding: 12px 0px 5px
	ul
		+horizontal-list
		li
			margin: 10px 20px 16px 4px
			   
					
				
#container
	width: 960px
	min-height: 700px
	margin: 0px auto
	.inner-container
		width: 980px
		padding: 20px 0px

#welcome
	background: url("/images/wallpaper_burnout_legends_01.jpg") no-repeat
	overflow: hidden
	#opaque
		width: 100%
		height: 900px
		background-color: rgba(255,255,255,0.6)
		position: fixed
		z-index: -99

div.content
	.inner-content
		padding: 18px


		
.boxin
	background: white
	+border-radius(6px)
	+box-shadow(#aaa, 0px, 0px, 10px, 0, false)
	border: 1px solid #999
	.content
		margin-bottom: 5px
	.header
		+border-top-left-radius(6px)
		+border-top-right-radius(6px)
		border-top: 2px solid #ccc
		height: 25px
		+linear-gradient(color-stops(#555, #333), top)
		margin: -1px -1px 0px
		padding: 7px 0px 9px 20px
		position: relative
		h3
			color: white
			font-size: 1.4em
			+text-shadow(#151515, 0px, 1px, 0px)
			position: relative
			top: 4px
			display: inline

	ul.simple
		margin-right: 0
		padding: 0
		li
			clear: both
			padding: 10px 20px 8px
			list-style-type: none
		li.even
			background: whiteSmoke
		span
			float: right

	ul.tabular
		font-size: .85em
		float: right
		+horizontal-list
		overflow: visible
		position: absolute
		right: 9px
		bottom: 4px
		li
			a
				border: 0
				background: white
				+border-top-left-radius(5px)
				+border-top-right-radius(5px)
				margin-left: 0px
				padding: 12px 13px 7px

.inner-container
	width: 960px
	margin: 0px auto
	
.username
	font-size: 1.2em
	

		
	
span.dashboard-icon
	background: url("/images/document_library.png") no-repeat
	padding: 6px 4px 4px 43px
	
span.scout-icon
	background: url("/images/scouts.png") no-repeat
	padding: 6px 4px 4px 43px




@mixin msg-box($color, $image_url)
	color: $color
	background-color: lighten($color, 65)
	border: 1px solid lighten($color, 55)
	p
		background: url($image_url) no-repeat

.msg_ok
	+msg-box(#336801, "/images/ok.png")

.alert, .error
	+msg-box(#8d0d0d, "/images/error.png")

.warn
	+msg-box(#6c6600, "/images/warning_32.png")

.notice
	+msg-box(#005898, "/images/info.png")


	
input.button
	font-family: "myriad pro", helvetica, Arial, sans-serif
		
textarea, input[type="text"], input[type="password"]
	font-size: 1.1em
	border: 1px solid #999
	padding: 5px 4px
	+border-radius(5px)

select
	font-size: 1.1em

input.error, textarea.error
	border-color: #d35757
	
label.check, label.radio
	margin-right: 8px
	
span.loading
	padding: 3px 0px 3px 20px
	display: block

div.field_with_errors
	display: inline

.scout-search
	font-size: 1.4em
	form
		padding-top: 4px
	.label
		float: left
		display: inline
		margin-right: 12px
	.search
		float: left
		display: inline
		input.txt
			padding: 3px 0px 3px 5px
			width: 400px
		input[type="submit"]
			position: relative
			top: -5px
	.all
		display: inline
		float: right
		padding-top: 8px
		
#scout-list, #scout-heat-list
	font-size: 1.2em
	#scout-count
		float: right
		padding-right: 12px
		color: #aaa
		font-style: italic
	form
		padding-left: 0px
		padding-right: 0px
		
#heats-edit, #heats-index, #heat-groups-index
	table.heat-groups
		margin-top: 0px
		font-size: 1.2em
	h4
		font-size: 1.4em
		height: 1.5em
		+linear-gradient(color-stops($background_blue, white), top)
		+text-shadow(black, 1px, 1px, 0px)
		background-color: $background_blue
		color: white
		padding: 8px
		+border-top-left-radius(5px)
		+border-top-right-radius(5px)
		margin-top: 2em
		margin-bottom: 0px
		
#race-container
	+container
#scout-list-small
	+column(4)
	+append(1)
	table
		tbody
			tr
				td
					padding: 0px 0px 0px 8px !important
#race-generate
	+column(6, true)
	h4
		background: none
#race-list
	+column(11, true)
	
form
	font-size: 1.2em
	padding: 18px
	&.plain
		padding: 0px
		fieldset
			border: 0 !important
			padding: 0 !important
	&.basic
		dl
			width: 100%
			overflow: hidden
			dt
				font-size: 1.1em
				padding: 3px 5px 3px 0px
				width: 20%
				float: left
				clear: both
			dd
				padding: 3px 0px 3px 5px
				width: 75%
				float: left
		input.txt, textarea

	&.fields
		fieldset
			border: 1px solid #ccc
			padding: 10px 15px 15px
			+border-radius(8px)
			legend
				font-size: 1em
				padding: 0px 10px
		fieldset.last
			margin-bottom: 0px
		label, div.sep
			display: block
			margin-top: 8px
		label.check, label.radio
			display: inline	
		
			
// .error
// 	color: #b70b0b
// 	background: none
// 	padding: 0px
	

table
	width: 100%
	border-collapse: separate
	thead th, thead td
		font-size: 1em
		background: #ddd !important
		border-left: 1px solid #ccc
		border-right: 1px solid #d5d5e5
		+text-shadow(white, 1px, 1px, 1px)
	tfoot th, tfoot td
		background: white
		border-top: 1px solid #ccc
	th:first, td:first
		padding-left: 20px
	th, td
		padding: 10px 10px 8px !important
		// font-weight: normal !important
	.tc
		text-align: center !important
	tr.even
		background: whiteSmoke
	&.hoverable
		tr:hover, tr.even:hover
			background: darken(white, 5)
	.first
	.last
		border-right: 0px !important
	ul.actions
		margin: 0px
		padding-left: 0px
		li
			display: inline
			margin-right: 5px
			a
				border-bottom: 0

.blue
	.header
		background: $background_blue
		border-top-color: lighten($background_blue, 40)
		+linear-gradient(color-stops($background_blue, lighten($background_blue, 10)), bottom)
		h3
			+text-shadow(darken($background_blue, 40), 0px, 1px, 0px)
	table
		tr.even
			background: #f0f9ff
		&.hoverable
			tr:hover, tr.even:hover
				background: darken(#f0f9ff, 5)



.grey-box
	color: #666
	font-size: .8em
	padding: 8px
	background: #ddd
	border: 2px solid #ccc
	+border-radius(6px)
	
	

#welcome, #track-manager
	#dashboard
		ul
			width: 100%
			padding: 20px 0px 40px 0px
			li
				+horizontal-list
				min-height: 150px
				width: (958px / 2 - 60)
				float: left
				padding: 20px
				a
					display: block
					width: 300px
					margin: 0px auto
				.description
					font-size: 1.2em
					text-align: center

				
#event-index
	table
		tfoot
			tr
				td
					+linear-gradient(color-stops(#eee, white), top)
	.description
		font-size: 1.2em
		float: right

#lane-status
	table
		th, td
			font-weight: bold
			text-align: center
			line-height: 36px
			font-size: 2em
			padding: 0px !important
		td.status img
			vertical-align: middle
			
#test-race
	#loader
		margin: 0 auto
		text-align: center
		h3
			color: $background_blue
	table
		th, td
			text-align: center
			font-size: 2em
			padding: 0px !important
		td.time
			text-align: right
			padding-right: 4em !important
			
#slider
	margin-top: 4px

form#testrace
	padding-top: 0px
	
#show-scout
	font-size: 1.4em
	.check-in
		font-size: 1.8em
		text-align: center
		line-height: 1
	#picture
		display: inline
		float: right
		width: 300px
		img
			width: 280px
			height: 200px
			padding: 3px
			border: 1px solid #999
	table
		width: 600px
		td.label
			width: 150px
			font-weight: bold
			vertical-align: top
		td.name
			font-size: 2em
			font-style: italic
			color: #000080
			font-weight: bold
			
			
#login
	background: #222
	padding: 100px
	.box
		float: none
		margin: 0px auto
		width: 600px
	.boxin
		+box-shadow(#111, 0px, 0px, 10px)
		border: 0px
	.header
		height: 55px
		padding-top: 20px
		padding-bottom: 15px
		margin: 0
	table
		width: 75%
		margin: 0px auto
	th, td
		padding: 0px 0px 5px 0px
	th
		width: 60px
	td.proceed
		padding-right: 0px
	th.proceed input
		margin: 0px
	input.txt
		width: 360px
		
		
		
#footer
	clear: both
	background: #333
	color: #bbb
	.inner-container
		margin: 0px auto
		padding: 20px 0px 16px
		.box
			background: inherit
			padding-bottom: 8px
			
	a, h1, h2, h3, h4, h5
		color: #bbb
		border-bottom: 1px dotted #999
	ul
		list-style-type: none
		padding: 0
		margin-bottom: 0px
	.copyright
		float: right
		text-align: center
