%ul
  %li
    = link_to(track_manager_path, :class => "button nav") do
      %span.scouts-icon Dashboard
  %li
    = link_to(new_event_path, :class => "button nav") do
      %span.scouts-icon Add New Event
