.box.box-100
  .boxin
    .header
      %h3 YOU MAY NOT PROCEED UNTIL THIS IS CORRECTED!
    .content
      %h1.red.centered <strong>An Event has not been selected for the current race.</strong>
      %h1 &nbsp;
      %h1.centered <strong>Contact the Race Manager as soon as possible to have this corrected.</strong>
      %h1 &nbsp;
      
      = link_to "Return To Home", root_path, :class => "big-button"