.box.box-100
  #dashboard.clearfix
    %ul
      %li= link_to "Parents", parent_url, :class => "button big"
      %li= link_to "Check In", check_in_url, :class => "button big"
      %li= link_to "Staging", staging_url, :class => "button big"
      %li= link_to "Track Manager", track_manager_url, :class => "button big"
