.box.box-100
  %table
    %tr
      %td= link_to "Parents", parent_url, :class => "button big"
      %td= link_to "Check In", check_in_url, :class => "button big"
    %tr
      %td= link_to "Staging", staging_url, :class => "button big"
      %td= link_to "Track Manager", track_manager_url, :class => "button big"
