#track-manager.box.box-100
  .boxin
    .header
      %h3 Track Management
      
    .content
      %table
        %tr
          %td
            = link_to "Events", events_url, :class => "button big"
            .description set or edit the current race
          %td
            = link_to "Check In", check_in_url, :class => "button big"
            .description &nbsp;
        %tr
          %td
            = link_to "Staging", staging_url, :class => "button big"
            .description &nbsp;
          %td
            = link_to "Track Manager", track_manager_url, :class => "button big"
            .description &nbsp;
