#track-manager.box.box-100
  .boxin
    .header
      %h3 Track Management
      
    #dashboard.content.clearfix
      %ul
        %li
          = link_to "Events", events_path, :class => "button big"
          .description set or edit the current race
        %li
          = link_to "Scouts", scouts_path, :class => "button big"
          .description edit scouts, dens, and packs
        %li
          = link_to "Track Test", track_test_path, :class => "button big"
          .description perform gate and timer tests
        %li
          = link_to "Race!", race_heat_groups_path, :class => "button big"
          .description gentlemen, start your engines
