%ul
  %li
    - if current_user.role?(:check_in)
      = link_to(@scout, :class => "big-button") do
        %span.scouts-icon Return to #{@scout.first_name} Check In
    - else
      = link_to(scouts_path, :class => "big-button") do
        %span Return to All Scouts