%ul
  %li
    = link_to(track_manager_path, :class => "big-button") do
      %span.scouts-icon Dashboard
  %li
    = link_to(new_scout_path, :class => "big-button") do
      %span.scouts-icon New Scout
