%ul
  %li
    = link_to(track_manager_path, :class => "button nav") do
      %span.scouts-icon Track Management
  %li
    = link_to(new_scout_path, :class => "button nav") do
      %span.scouts-icon New Scout
