%ul
  %li
    = link_to(new_scout_path, {:confirm => "Are you sure you want to add a new Scout? Duplicate Scouts can cause problems!", :class => "big-button"}) do
      %span.scouts-icon Add New Scout
