.row-fluid
  .pull-right
    = link_to new_scout_path, class: 'btn btn-success' do
      %i.icon-plus
      add scout

  %h2
    Check In Scouts to Race
    / %span.badge= @scouts.size

.row-fluid
  =form_tag scouts_path, method: :get, class: 'well well-thin form-inline', remote: true do
    = hidden_field_tag 'mode', 'check_in'
    .input-append
      = text_field_tag :scout_search, @scout_search, class: "span12", placeholder: "search"
      %button{:type => 'submit', class: 'btn'}>
        %i.icon-search
        search
      %a{:href => check_in_path, class: 'btn'}>
        %i.icon-resize-full
        show all
    %span.help-block
      enter any part of the first or last name, den number, or den leader's name


#scout-list.row-fluid
  = render 'scouts/check_in_list', scouts: @scouts, heat_id: @heat_id
