%em
  = Time.now.to_formatted_s :long_ordinal
.row-fluid
  .span6.offset3
    .text-xlarge
      %table.table.table-condensed
        %thead
          %tr
            %th Lane
            %th Time
        %tbody
          -for race_result in @race_results[:result]['results']
            %tr
              %td= race_result['lane']
              %td{class: "time"}= milliseconds_to_s( race_result['time'] )
