%table.hoverable
  %thead
    %tr
      %th Lane
      %th Status
  %tbody
    -for lane_status in @lane_status['lane_status']
      %tr
        %td= lane_status['lane']
        %td{:class => "status"}= lane_status_icon( lane_status['status'])
