@import "compass/css3"
@import "compass/typography/lists"

footer
  background: #333
  color: #bbb
  padding: 16px 0px 16px
  margin-top: 20px

div.text-large, p.large, p large, i.large, span.large, strong.large, em.large
  font-size: 14px
  line-height: 1

div.text-xlarge, p.xlarge, p xlarge, i.xlarge, span.xlarge, strong.xlarge, em.xlarge
  font-size: 18px
  line-height: 1.2

div.text-xxlarge, p.xxlarge, p xxlarge, i.xxlarge, span.xxlarge, strong.xxlarge, em.xxlarge
  font-size: 24px
  line-height: 1.4

div.text-xxxlarge, p.xxxlarge, p xxxlarge, i.xxxlarge, span.xxxlarge, strong.xxxlarge, em.xxxlarge
  font-size: 42px
  line-height: 1.4

.btn-xlarge
  padding: 11px 22px
  font-size: 25px
  line-height: normal
  +border-radius(8px)

.btn-xxlarge
  padding: 18px 28px
  font-size: 38px
  line-height: normal
  +border-radius(9px)

.help-inline, .help-block
  color: #999

.well-thin
  margin-top: 6px
  margin-bottom: 12px
  padding: 6px
.well-darker
  background-color: #cccccc
