%footer
  .container-fluid
    .row-fluid
      .span6
        %strong Quick Links
        %ul
          %li
            %a{:href => "/"} Dashboard
          %li
            %a{:href => "/"} Scouts
      .span6
        %p.pull-right
          &copy; #{Time.now.year}, Karl Smith
          %br
          %small All rights reserved.
